@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

.container {
  max-width: 500px;
  margin: 30px auto;
  overflow: auto;
  min-height: 150px;
  border: 1px solid steelblue;
  padding: 30px;
  border-radius: 5px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.leaflet-container {
  height: 250px !important;
  width: 700px !important;
}
